/* Asterisk symbol, when used after a class name, or any other identifier, will select all descendants/children inside that element. */
/* box-sizing property allows us to include the padding and border in an element's total width and height.  */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  position: relative;
}

nav > a {
  text-decoration: none;
  position:absolute;
  top: 20px;
  right: 50px;
}

h1, span{
  color: #6495ed;
  font-weight: bold;
}

p, #in_section{
  color: #008b8b;
}

div{
  color: #7fffd4;
}

ul, ol{
  color: red;
}

section > article {
font-size: 120%;
}

/**any ol element which is a direct child of a div element**/
div > ol, .selected{
  color: #00008b;
}

/**all p elements that are inside a section element.**/
section p{
  color: pink;
}
/**all article element with "class= selected"**/
article.selected {
  color: blue;
}

img{
  display: block;
  width: 300px;
  height: 235xp;
}


