/** Conflict resolution.
 *
 * The last declaration wins.
 * HTML is processed sequentially.top to bottom.
 * External css page first,
 * Css style in the head secound and,
 * declared attribute style in the tag third.
 *
 * **/
* {
  box-sizing: border-box;
}
 body {
  position: relative;
 }
div ul{
  list-style: none;
  width: 300px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: red;
}

a:hover, a:active {
  color: green;
  text-transform: uppercase;
}

.noHover {
  pointer-events: none;
}
div li:nth-child(odd) {
  background: gray;
}

div li:nth-child(3) {
  background: pink;

}

div li:nth-child(4):hover {
 cursor: progress;
 font-size: 20px;
}

#p1{
  width: 45%;
  float: left;
}
#p2 {
  width: 45%;
  float: right;
  border: 1px solid black;
  padding: 5px;
}
section {
  border: 1px solid pink;
  margin:10px 10px 10px 10px;
  /*top right bottom left*/
  padding: 10px;
  height: 350px;
  overflow: auto;
}

#section3 {
  background: url(https://www.fillmurray.com/440/260) no-repeat center ;
  background-color: #fff8dc;
}

#container {
  background-color: #fff5ee;
  width: 500px;
  height: 300px;
  position: relative;
  left: 40px;
}

#container p {
padding: 15px 5px 5px 5px;
}

#box1 {
  text-align: center;
  width:50px;
  height:50px;
  background-color: #90ee90;
  position: absolute;
  top: 50px;
  right: 380px;

}

#box2 {
  text-align: center;
  width:50px;
  height:50px;
  background-color: #d3d3d3;
}

#box3 {
  text-align: center;
  width:50px;
  height:50px;
  background-color: #ffb6c1;
  position: absolute;
  top: 100px;
  left: 240px;
}

#box4 {
  text-align: center;
  width:50px;
  height:50px;
  background-color: #87cefa;
  position: absolute;
  right: 0px;
}

/*float, move to left
clear, remove everything in the left
*/
div > img {
  float: left;
  clear: left;
  padding: 0px 10px 20px 10px;
}

footer {
  padding-top: 20px;
  clear: left;
}

#btnImg {
  content: url(arrow_up.png);
  position: fixed;
  bottom: 0;
  right:0;
}

